@tailwind base;
@tailwind components;
@tailwind utilities;

.loginimage {
    background-image: url('../src/assets/login.png'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  